obj/Debug/vc140.pdb
obj/Debug/stb_truetype.obj
obj/Debug/ofxGrtTimeseriesPlot.obj
obj/Debug/ofxGrtSettings.obj
obj/Debug/ofxGrtMatrixPlot.obj
obj/Debug/ofxGrtBarPlot.obj
obj/Debug/ofxFontStash.obj
obj/Debug/ofApp.obj
obj/Debug/main.obj
obj/Debug/libsvm.obj
obj/Debug/icon.res
obj/Debug/fontstash.obj
obj/Debug/ZeroCrossingCounter.obj
obj/Debug/WeightedAverageFilter.obj
obj/Debug/WeakClassifier.obj
obj/Debug/WarningLog.obj
obj/Debug/VectorFloat.obj
obj/Debug/Util.obj
obj/Debug/UnlabelledData.obj
obj/Debug/Tree.obj
obj/Debug/TrainingLog.obj
obj/Debug/TrainingDataRecordingTimer.obj
obj/Debug/TimeseriesBuffer.obj
obj/Debug/TimeSeriesClassificationSampleTrimmer.obj
obj/Debug/TimeSeriesClassificationSample.obj
obj/Debug/TimeSeriesClassificationData.obj
obj/Debug/TimeDomainFeatures.obj
obj/Debug/ThresholdCrossingDetector.obj
obj/Debug/ThreadPool.obj
obj/Debug/TestingLog.obj
obj/Debug/SwipeDetector.obj
obj/Debug/Softmax.obj
obj/Debug/SelfOrganizingMap.obj
obj/Debug/SavitzkyGolayFilter.obj
obj/Debug/SVM.obj
obj/Debug/SVD.obj
obj/Debug/SOMQuantizer.obj
obj/Debug/RegressionTree.obj
obj/Debug/RegressionSample.obj
obj/Debug/RegressionData.obj
obj/Debug/Regressifier.obj
obj/Debug/RangeTracker.obj
obj/Debug/RandomForests.obj
obj/Debug/Random.obj
obj/Debug/RadialBasisFunction.obj
obj/Debug/RMSFilter.obj
obj/Debug/RBMQuantizer.obj
obj/Debug/PrincipalComponentAnalysis.obj
obj/Debug/PreProcessing.obj
obj/Debug/PostProcessing.obj
obj/Debug/PeakDetection.obj
obj/Debug/ParticleClassifier.obj
obj/Debug/Node.obj
obj/Debug/Neuron.obj
obj/Debug/MultidimensionalRegression.obj
obj/Debug/MovingAverageFilter.obj
obj/Debug/MovementTrajectoryFeatures.obj
obj/Debug/MovementIndex.obj
obj/Debug/MovementDetector.obj
obj/Debug/MinDistModel.obj
obj/Debug/MinDist.obj
obj/Debug/Metrics.obj
obj/Debug/MedianFilter.obj
obj/Debug/MatrixFloat.obj
obj/Debug/MLP.obj
obj/Debug/MLBase.obj
obj/Debug/LowPassFilter.obj
obj/Debug/LogisticRegression.obj
obj/Debug/LinearRegression.obj
obj/Debug/LeakyIntegrator.obj
obj/Debug/LUDecomposition.obj
obj/Debug/KNN.obj
obj/Debug/KMeansQuantizer.obj
obj/Debug/KMeansFeatures.obj
obj/Debug/KMeans.obj
obj/Debug/InfoLog.obj
obj/Debug/HighPassFilter.obj
obj/Debug/HierarchicalClustering.obj
obj/Debug/HMM.obj
obj/Debug/GestureRecognitionPipeline.obj
obj/Debug/GaussianMixtureModels.obj
obj/Debug/Gate.obj
obj/Debug/GRTBase.obj
obj/Debug/GMM.obj
obj/Debug/FiniteStateMachine.obj
obj/Debug/FeatureExtraction.obj
obj/Debug/FastFourierTransform.obj
obj/Debug/FIRFilter.obj
obj/Debug/FFTFeatures.obj
obj/Debug/FFT.obj
obj/Debug/ErrorLog.obj
obj/Debug/EnvelopeExtractor.obj
obj/Debug/EigenvalueDecomposition.obj
obj/Debug/DoubleMovingAverageFilter.obj
obj/Debug/DiscreteHiddenMarkovModel.obj
obj/Debug/Derivative.obj
obj/Debug/DecisionTreeTripleFeatureNode.obj
obj/Debug/DecisionTreeThresholdNode.obj
obj/Debug/DecisionTreeNode.obj
obj/Debug/DecisionTreeClusterNode.obj
obj/Debug/DecisionTree.obj
obj/Debug/DecisionStump.obj
obj/Debug/DebugLog.obj
obj/Debug/DeadZone.obj
obj/Debug/DTW.obj
obj/Debug/ContinuousHiddenMarkovModel.obj
obj/Debug/Context.obj
obj/Debug/Clusterer.obj
obj/Debug/ClusterTree.obj
obj/Debug/Classifier.obj
obj/Debug/ClassificationSample.obj
obj/Debug/ClassificationDataStream.obj
obj/Debug/ClassificationData.obj
obj/Debug/ClassLabelTimeoutFilter.obj
obj/Debug/ClassLabelFilter.obj
obj/Debug/ClassLabelChangeFilter.obj
obj/Debug/Cholesky.obj
obj/Debug/BodyFail.vcxprojResolveAssemblyReference.cache
obj/Debug/BodyFail.tlog/rc.write.1.tlog
obj/Debug/BodyFail.tlog/rc.read.1.tlog
obj/Debug/BodyFail.tlog/rc.command.1.tlog
obj/Debug/BodyFail.tlog/link.write.1.tlog
obj/Debug/BodyFail.tlog/link.read.1.tlog
obj/Debug/BodyFail.tlog/link.command.1.tlog
obj/Debug/BodyFail.tlog/CL.write.1.tlog
obj/Debug/BodyFail.tlog/CL.read.1.tlog
obj/Debug/BodyFail.tlog/CL.command.1.tlog
obj/Debug/BodyFail.tlog/BodyFail.write.1u.tlog
obj/Debug/BodyFail.tlog/BodyFail.lastbuildstate
obj/Debug/BodyFail.log
obj/Debug/BernoulliRBM.obj
obj/Debug/BAG.obj
obj/Debug/AdaBoost.obj
obj/Debug/ANBC_Model.obj
obj/Debug/ANBC.obj
bin/ssleay32.dll
bin/ofxKinectForWindows2Lib.pdb
bin/ofxKinectForWindows2Lib.lib
bin/libeay32.dll
bin/glut32.dll
bin/freetype.dll
bin/fmodexL.dll
bin/fmodex.dll
bin/assimp.dll
bin/Zlib.dll
bin/FreeImage.dll
bin/BodyFail_debug.pdb
bin/BodyFail_debug.lib
bin/BodyFail_debug.ilk
bin/BodyFail_debug.exp
bin/BodyFail_debug.exe
BodyFail.VC.db
BodyFail.VC.VC.opendb
obj/Release/vc140.pdb
obj/Release/pugixml.obj
obj/Release/ofxfs2_nanovg.obj
obj/Release/ofxFontStashParser.obj
obj/Release/ofxFontStash2.obj
obj/Release/ofApp.obj
obj/Release/main.obj
obj/Release/icon.res
obj/Release/BodyFail.tlog/rc.write.1.tlog
obj/Release/BodyFail.tlog/rc.read.1.tlog
obj/Release/BodyFail.tlog/rc.command.1.tlog
obj/Release/BodyFail.tlog/link.write.1.tlog
obj/Release/BodyFail.tlog/link.read.1.tlog
obj/Release/BodyFail.tlog/link.command.1.tlog
obj/Release/BodyFail.tlog/CL.write.1.tlog
obj/Release/BodyFail.tlog/CL.read.1.tlog
obj/Release/BodyFail.tlog/CL.command.1.tlog
obj/Release/BodyFail.tlog/BodyFail.write.1u.tlog
obj/Release/BodyFail.tlog/BodyFail.lastbuildstate
obj/Release/BodyFail.log
obj/Debug/pugixml.obj
obj/Debug/ofxfs2_nanovg.obj
obj/Debug/ofxFontStashParser.obj
obj/Debug/ofxFontStash2.obj
bin/BodyFail.lib
bin/BodyFail.ipdb
bin/BodyFail.iobj
bin/BodyFail.exp
bin/BodyFail.exe
obj/
